<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>AEP Dataset Failed Batches Preview and Download</title>
  </head>

  <body>
    <main class="container">
      <h1>AEP Dataset Failed Batches Preview and Download</h1>
      <section class="github-badges">
        <img
          src="https://img.shields.io/github/last-commit/arsari/AEP-Batch-Download?color=orange&style=flat-square&logo=github"
          alt="GitHub Last Commit" title="Source Code Last Update" />
        <img
          src="https://img.shields.io/github/v/tag/arsari/AEP-Batch-Download?logo=github&sort=semver&style=flat-square"
          alt="GitHub tag (latest SemVer)" title="Source Code Current Version" />
      </section>

      <!-- Batch Input Section -->
      <section class="section">
        <h2>Step 1: Enter Batch IDs</h2>
        <form id="batchForm">
          <label for="batch_ids">Enter Batch IDs (comma-separated without space):</label>
          <input type="text" id="batch_ids" name="batch_ids" placeholder="e.g., batch1,batch2,batch3" required>
          <button type="button" class="btn" onclick="previewBatches()">Preview Batches</button>
        </form>
        <div id="loading" style="display:none;" class="loading">Loading...</div>
      </section>

      <!-- Preview Section -->
      <section id="previewSection" class="section" style="display:none;">
        <h2>Step 2: Preview Batch Data</h2>
        <div id="response" class="response-container"></div>
        <button id="downloadButton" class="btn" style="display:none;" onclick="downloadBatches()">Download Batch
          Data</button>
      </section>
    </main>

    <script src="/static/script.js"></script>
  </body>

</html>
